* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

#counter {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}

button {
    padding: 8px 20px;
    margin: 10px;
}